
<div class="page-header">
  <h1>Bandwidth Peak Hours Usage</h1>
</div>

<div class="row">
  <div class="span4">
    <h2><%= @host.ip_address %></h2>
    <p>This is the IP address of the host in question.</p>

    <p>
    Information for this host was updated 
    <%=
    distance_of_time_in_words(Time.now, @host.updated_at)
    %> ago.
    </p>
  </div>
  <div class="span12">
    <div class="row">
      <div class="span6">
        <h3>&#11015; Download</h3>
        <h4><%= number_to_human_size(@host.inbound)%></h4>
        <% if @host.inbound_restricted%>
          <p>
          <span class="label warning">Warning</span>
          This host's download speed is restricted to the speed mentioned below.
          </p>
        <% end %>
      </div>
      <div class="span6">
        <h3>&#11014; Upload</h3>
        <h4><%= number_to_human_size(@host.outbound)%></h4>
      </div>
    </div>
    <div class="row">
      <div class="span6">
        <h4>About</h4>
        <p>
        The above information is the amount of bandwidth consumed by that host
        during the peak hours of 1PM to 1AM. If the amount of data downloaded
        exceeds 1.5 GB, the host's download speed will be restricted to
        512kbps.  This limit is lifted once the amount used within the past 24
        hours under peak hours is less than 1.5 GB.
        </p>

        <p>
        Upload is not restricted by bandwidth use in any way..
        </p>
      </div>
      <div class="span6"> 
        <h4>Other Restrictions</h4>
        <p>
        In addition, the following traffic is always restricted to the listed
        speed for both download and upload, peak hours or not.
        </p>
        <ul>
          <li>P2P Applications, 512kbps</li>
          <li>Unknown Traffic, 768kbps</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="page-header">
  <h2>Lookup Another Host</h2>
</div>
<%= render :partial => "prompt" %>
